<!DOCTYPE html>
<html>

<head>
    <title>My Blog</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="ui menu inverted">

        <div class="ui container">
            <div class="header item">
                <i class="code icon"></i> <a href=".">My Blog</a> 
            </div>
            <a href="/" class="item">
                Home
            </a>
            <a href="/blogs/new" class="item">
                New Post
            </a>
        </div>


    </div>