<!DOCTYPE html>
<html>

<head>
    <title>My Blog</title>

    <link rel="stylesheet" type="text/css" href="/BlogApp/Semantic-UI-CSS-master/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/BlogApp/Semantic-UI-CSS-master/semantic.min.js"></script>


</head>

<body>

</body>

</html>